In [43]:
import pandas as pd

# AM_INM_WOODLY_

##INM_NET

In [13]:
## CLIENTS CLASS
class CustomerNames(object):
    def __init__(self, clientname):
        self.clientname = clientname
        
    def __repr(self):
        return '{}'.format(self.clientname)

In [34]:
##COMMONS
Commonse = CustomerNames('Ebo') 
Commonsj = CustomerNames('Jemo')
Commonsm = CustomerNames('Emily')
Commonso = CustomerNames('Job')
print('Commons Clients are :', CustomerNames('Ebo') )

Commons Clients are : <__main__.CustomerNames object at 0x00000131C3DB7160>

In [6]:
##KARIUKI'S PLACE
Kariuki = CustomerNames(AMhouse, Job)
print(Kariuki)

NameError: name 'AMhouse' is not defined

In [41]:
users_history = {'Ebo'   : ['1.5mb', 'jan-sep'],
                 'Emily' : ['1mb', 'jane-sep'],
                 'Jemmo' : ['1.5mb', 'jan-sep'],
                 'Job'   : ['1mb', 'jan-sep'] }



def purchases(history, user, price):
    if user not in history:
        history[user] = []
    history[user].append(price)
    return history

In [42]:
## YOU CAN ADD NEW USERS HERE,  THO DOES NOT GO IN UPPPER DICT
purchases(users_history, 'Ebo', 1300)
purchases(users_history, 'Emily', 1200)
purchases(users_history, 'Jemmo', 1500)
purchases(users_history, 'Job', 1000)

{'Ebo': ['1.5mb', 'jan-sep', 1300],
 'Emily': ['1mb', 'jane-sep', 1200],
 'Jemmo': ['1.5mb', 'jan-sep', 1500],
 'Job': ['1mb', 'jan-sep', 1000]}

In [40]:
##devices
def class (objects):
    def __init__(self, devices):
        self.clientname = clientname
        self.devices = devices
        
    def __repr(self):
        return

SyntaxError: invalid syntax (<ipython-input-40-265486826e24>, line 2)

In [46]:
pd.DataFrame({'a' : [1, 2, 3, 4], 'b':[1, 2, 3, 4], 'c':[2, 3, 4, 5]})

   a  b  c
0  1  1  2
1  2  2  3
2  3  3  4
3  4  4  5

In [ ]:
##locations
def class (objects):
    def __init__(self, locations):
        
        
    def __repr(self):
        return

In [ ]:
## bandwitrh and prices
def class (objects):
    def __init__(self, bandwith, prices)
    
    def __repr(self):
        return